#==================================================================================================
# Powershell Profile Settings
#==================================================================================================

$EDITOR_Override = ""